<template name="DonesListYesterday">
  <div class="column">
    <!-- FORM -->
    <form class="ui form formNew" name="formNew">
      <table class="ui striped table">
        <tbody>
        {{#each dones}}
        <tr>
          <td>
            <i class="checkmark box green icon"></i> <span class="ui teal horizontal label">Done</span> {{entry}}
          </td>
          <td class="right aligned">
            <button type="button" class="ui icon tiny red button"><i class="icon remove"></i></button>
          </td>
        </tr>

        {{/each}}

        {{#each gratitudes}}
        <tr>
          <td>
            <i class="child red icon"></i> <span class="ui red horizontal label">Grateful</span> {{entry}}
          </td>
          <td class="right aligned">
            <button type="button" class="ui icon tiny red button gratefulReomveButton"><i class="icon remove"></i></button>
          </td>
        </tr>

        {{/each}}
        </tbody>
      </table>

    </form>

  </div>
</template>
