<template name="DonesIndex">


    <div class="ui masthead segment">

      <div class="ui very relaxed divided stackable page grid">
        <div class="sixteen wide column">

          <h1 class="center aligned ui header">Dashboard</h1>

        </div>
        <div class="six wide center aligned stackable column">
          
          [Calendar area]

        </div>

        <div class="ten wide center aligned stackable column">
            
          <div class="sixteen wide center aligned column">
            <h2>Fri, 19 December 2014</h2>
          </div>

        </div>
      </div>
    </div>


</template>
