<template name="Index">
  <div class="ui masthead segment">
    <div class="ui page grid">
      <div class="column">
        <div class="introduction">

          <h1 class="ui huge header">
            Progress Everyday Then Focus On Positives
          </h1>

          <div class="ui two column middle aligned relaxed fitted stackable grid">
            <div class="column">

              <h4 class="ui header">
                Helps you make little progress everyday and keep positive thinking
                to keep you moving forward to achieve the next big thing in your life
                then write down your daily gratitude to feel happier.
              </h4>

              <h4 class="ui header">
                Feel accomplished by writing down what you did. It helps you moving forward and keeping you on the right track.
              </h4>

              <h4 class="ui header">
                Gives you <strong>satisfaction</strong> in working toward your goals.
              </h4>

              <h3>Embraced small wins!</h3>

            </div>
            <div class="column">

              <div class="ui form inverted segment">
                <form id="loginForm">
                  <div class="field">
                    <div class="ui left icon input">
                      <input type="email" required="required" name="loginEmail" placeholder="Email as your username">
                      <i class="user icon"></i>
                    </div>
                  </div>
                  <div class="field">
                    <div class="ui left icon input">
                      <input type="password" required="required" name="loginPassword" placeholder="Your super secret password">
                      <i class="lock icon"></i>
                    </div>
                  </div>
                  <button type="submit" class="ui blue labeled icon fluid button">
                    <i class="key icon"></i>
                    Login
                  </button>
                </form>

                <div class="ui inverted horizontal divider">
                  Or
                </div>

                <a href="{{ pathFor "dones.index" }}" class="ui teal labeled icon fluid large button">
                  Sign-up for free
                  <i class="signup icon"></i>
                </a>

              </div>


            </div>
          </div>


          <div class="ui hidden divider"></div>
        </div>
      </div>
    </div>
  </div>


  <div class="ui vertical how inverted segment">
    <div class="ui centered page grid">
      <div class="fourteen wide column">
        <div class="row header">
          <h2 class="ui inverted header center aligned">How does <span class="idttg" data-content="I Done These Then Gratitude">IDTTG</span> work?</h2>
        </div>
        <div class="row">
        <div class="ui four column center aligned stackable divided inverted grid">
          <div class="column">
            <div class="ui icon inverted header">
              <span class="ui green circular label">1</span> &nbsp; <i class="wizard icon"></i>
              Do some magic.
            </div>
            <p>
              Get your small chunk of tasks done, one by one.
            </p>
          </div>


          <div class="column">
            <div class="ui icon inverted header">
              <span class="ui green circular label">2</span> &nbsp; <i class="write icon"></i>
              Write it down
            </div>
            <p>
              Writing down what you did to help you moving forward.
            </p>
          </div>


          <div class="column">
            <div class="ui icon inverted header">
              <span class="ui green circular label">3</span> &nbsp; <i class="child icon"></i>
              Grateful time
            </div>
            <p>
              At the end of the day, write your grateful for.
            </p>
          </div>


          <div class="column">
            <div class="ui icon inverted header">
              <span class="ui green circular label">4</span> 
              <i class="bar icon"></i>
              Celebrate!
            </div>
            <p>
              Now celebrate your small win!
            </p>
          </div>



        </div>
        </div>
      </div>
    </div>
  </div> <!-- END how -->

  <!-- WHY -->
  <div class="ui vertical segment">
    <div class="ui stackable center aligned page grid">
      <div class="row">
        <div class="column">
          <h1 class="ui header">
            Why <span class="idttg" data-content="I Done These Then Gratitude">IDTTG</span> worked
          </h1>
          <div class="ui horizontal divider"><i class="question icon"></i></div>
        </div>
      </div>
      <div class="row">
        <div class="column">


          <div id="slider" class="flexslider">
            <ul class="slides">

              <li class="">
                <div class="ui divided grid">
                  <div class="row">
                    <div class="six wide column">

                      <a href="http://www.sidehustlenation.com/i-done-this-challenge/" target="_blank"><img class="ui rounded image" src="img/side-hustle.png"></a>

                    </div>
                    <div class="ten wide column">
                      <h3 class="ui header">IDTTG trully inspired from SideHustleNation</h3>
                      <p>This service trully inspired from
                        <a href="http://www.sidehustlenation.com/i-done-this-challenge/">this blog post</a>.
                        In this article, <a href="https://twitter.com/nloper" target="_blank">Nick Loper</a> set up free I Done This + Gratitude Journal using the combination of
                        NudgeMail, Google Docs and Gmail.
                      </p>
                      <p>
                        <a class="ui right labeled icon button" href="http://www.sidehustlenation.com/i-done-this-challenge/" target="_blank">
                          <i class="right arrow icon"></i>
                          Go to the article
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>


              <li class="">
                <div class="ui divided grid">
                  <div class="row">
                    <div class="six wide column">

                      <div class="ui video" data-source="youtube" data-id="AdKUJxjn-R8" data-image="img/big.jpg"></div>

                    </div>
                    <div class="ten wide column">
                      <h3 class="ui header">Forget Big Change, Start With A Tiny Habit</h3>
                      <p>In <strong>TedxFremont</strong> BJ Fogg shows us that the key to lasting change does not lie in planning big, monumental changes, but in thinking really, really small. Chosen by Fortune Magazine as one of “10 New Gurus You Should Know”, Fogg directs the Persuasive Tech Lab at Stanford University.</p>
                      <p>
                        <a class="ui right labeled icon button" href="http://tedxtalks.ted.com/video/Forget-big-change-start-with-a" target="_blank">
                          <i class="right arrow icon"></i>
                          Go to video
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>


              <li class="">
                <div class="ui divided grid">
                  <div class="row">
                    <div class="six wide column">

                      <a href="http://lessdoing.com/2012/03/20/dont-try-to-prioritize-work-on-your-timing/" target="_blank"><img class="ui rounded image" src="img/lessdoing.png"></a>

                    </div>
                    <div class="ten wide column">
                      <h3 class="ui header">Ari Meisel From LessDoing.com</h3>
                      <p>In <a href="http://lessdoing.com/2012/03/20/dont-try-to-prioritize-work-on-your-timing/" target="_blank">this article</a>, Ari Meisel mentioned that he used iDoneThis as the journal combined with a bunch another tools.</p>
                      <p>
                        <a class="ui right labeled icon button" href="http://lessdoing.com/2012/03/20/dont-try-to-prioritize-work-on-your-timing/" target="_blank">
                          <i class="right arrow icon"></i>
                          Go to the article
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>


              <li class="">
                <div class="ui divided grid">
                  <div class="row">
                    <div class="six wide column">

                      <a href="http://www.oprah.com/spirit/Oprahs-Gratitude-Journal-Oprah-on-Gratitude" target="_blank"><img class="ui rounded image" src="img/oprah.png"></a>

                    </div>
                    <div class="ten wide column">
                      <h3 class="ui header">Oprah kept a gratitude journal for a decade</h3>
                      <p>"For years I've been advocating the power and pleasure of being grateful. I kept a gratitude journal for a full decade without fail—and urged you all to do the same. Then life got busy. My schedule overwhelmed me. I still opened my journal some nights, but my ritual of writing down five things I was grateful for every day started slipping away. " -- Oprah</p>
                      <p>
                        <a class="ui right labeled icon button" href="http://www.oprah.com/spirit/Oprahs-Gratitude-Journal-Oprah-on-Gratitude" target="_blank">
                          <i class="right arrow icon"></i>
                          Go to the article
                        </a>
                      </p>
                    </div>
                  </div>
                </div>
              </li>

            </ul>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!-- END why -->
</template>
