<template name="DonesDaily">

  {{> EmailNotifications }}
  <div class="ui masthead segment">

    <div class="ui very relaxed divided stackable page grid">
      <div class="sixteen wide column">

        <h1 class="center aligned ui header">Date Views</h1>

      </div>
      <div class="six wide center aligned stackable column">

        {{> ReactiveFullcalendar options=options}}

      </div>

      <div class="ten wide stackable column">

        <div class="sixteen wide center aligned column">
          <h2>{{getDate}}</h2>
        </div>

        <div class="column">
          <!-- FORM -->
          <table class="ui striped table">
            <tbody>
            {{#each dones}}
            <tr>
              <td>
                <i class="checkmark box green icon"></i> <span class="ui teal horizontal label">Done</span> {{entry}}
              </td>
              <td class="right aligned">
                <button type="button" class="ui icon tiny red button donesRemoveButton"><i class="icon remove"></i></button>
              </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="2">
                You've done nothing on this date, yet...
              </td>
            </tr>

            {{/each}}
            {{#each gratitudes}}
            <tr>
              <td>
                <i class="child red icon"></i> <span class="ui red horizontal label">Grateful</span> {{entry}}
              </td>
              <td class="right aligned">
                <button type="button" class="ui icon tiny red button gratefulReomveButton"><i class="icon remove"></i></button>
              </td>
            </tr>
            {{else}}
            <tr>
              <td colspan="2">
                You've no gratitudes on this date, yet...
              </td>
            </tr>

            {{/each}}

            <tr>
              <td colspan="2">
                <a href="{{ pathFor "dones.index" }}" class="ui orange labeled icon fluid button">
                  Go To Today To Start Write Your Dones and Gratitude
                  <i class="write icon"></i>
                </a>
              </td>
            </tr>


            </tbody>
          </table>

        </div>

      </div>
    </div>
  </div>


</template>
