<template name="MasterLayout">
  <div class="full height">

    <!-- =============== MENU ====================== -->
    <div class="ui large inverted fixed network menu">
      <div class="header item"><a href="/">IDTTG</a></div>
      <div class="right menu">
        <div class="item"><a href="/">Dashboard</a></div>
        <!-- <div class="ui mobile dropdown link item" tabindex="0"> -->
        <!--   Main Menu -->
        <!--   <i class="dropdown icon"></i> -->
        <!--   <div class="menu" tabindex="&#45;1"> -->
        <!--     <a class="item">Dashboard</a> -->
        <!--     <a class="item">Cocktail Hours</a> -->
        <!--     <a class="item">Community</a> -->
        <!--   </div> -->
        <!-- </div> -->
        <div class="ui dropdown link item" tabindex="0">
          Member
          {{> loginButtons }}
          <i class="dropdown icon"></i>
          <div class="menu" tabindex="-1">
            <a class="item">Petting</a>
            <a class="item">Feeding</a>
            <a class="item">Mind Reading</a>
          </div>
        </div>
      </div>
    </div>

    <!-- =============== MENU ====================== -->



    <div class="container">

      <!-- =============== CONTENT ====================== -->

      {{#if currentUser}}
      {{> yield}}
      {{else}}

      <div class="ui masthead segment">

        <div class="ui very relaxed divided stackable page grid">
          <div class="column">
          
            <h1>Sorry, you're not authorized.</h1>
            <p>Please login first by <a href="#" class="loginLink">click here</a>.
            If you don't have any account, yet you can alwyas register.
            </p>

          </div>

        </div>
      </div>
      {{/if}}

      <!-- =============== CONTENT ====================== -->




    </div> <!-- END container -->

  </div> <!-- END full heigth -->

  {{> LoginModalForm}}

</template>
