<template name="MasterLayout">
  <div class="full height">

    <!-- =============== MENU ====================== -->
    <div class="ui large inverted fixed network menu">
      {{#if currentUser}}
      <div class="header item idttg"><a href="{{ pathFor 'dones.index' }}">IDTTG Beta</a></div>
      {{else}}
      <div class="header item idttg"><a href="{{ pathFor 'index' }}">IDTTG Beta</a></div>
      {{/if}}
      <div class="right menu">
        {{#if currentUser}}
        <div class="ui link item" tabindex="0">
          <a href="#" class="logoutButton">Logout</a>
        </div>
        {{else}}
        <div class="ui link item" tabindex="0">
          <a href="{{ pathFor 'dones.index' }}" class="loginButton">Login or Register</a>
        </div>
        {{/if}}
      </div>
    </div>

    <!-- =============== MENU ====================== -->



    <div class="container">

      <!-- =============== MESSAGES ==================== -->

      <div class="ui raised segment">
      {{> errors}}
      {{> notifications}}

      </div>

      <!-- =============== MESSAGES ==================== -->

      <!-- =============== CONTENT ====================== -->

      {{> yield}}

      <!-- =============== CONTENT ====================== -->




    </div> <!-- END container -->

    <div class="ui inverted black footer vertical segment">
      <div class="container">
        <div class="ui stackable inverted divided relaxed grid">
          <div class="five wide column">
            <p>&copy; IDTTG made with ♥ and <a href="https://meteor.com/" target="_blank">Meteor</a>.</p>
          </div>

          <div class="eleven wide column">
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_blank">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="86YPXWD5PYDLG">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
              <input type="hidden" name="cmd" value="_s-xclick">
              <input type="hidden" name="hosted_button_id" value="86YPXWD5PYDLG">
              <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">

              <input name="cmd" value="_s-xclick" type="hidden">
              <a class="ui icon red button" href="mailto:rizafahmi@gmail.com"><i class="mail icon"></i> Email</a>
              <a class="ui twitter button" href="https://twitter.com/rizafahmi22" target="_blank"><i class="twitter icon"></i> Twitter</a>
              <a class="ui linkedin button" href="https://id.linkedin.com/in/rizafahmi" target="_blank"><i class="linkedin icon"></i> Linkedin</a>
              <button type="submit" name="submit" class="ui orange icon button"><i class="payment icon"></i> Donate Today</button>
            </form>
          </div>
        </div>
      </div>
    </div>


  </div> <!-- END full heigth -->

</template>
