<template name="MasterLayout">
  <div class="full height">

    <!-- =============== MENU ====================== -->
    <div class="ui large inverted fixed network menu">
      <div class="header item"><a href="/">IDTTG</a></div>
      <div class="right menu">
        {{#if currentUser}}
        <div class="ui dropdown link item" tabindex="0">
          <a href="#" class="logoutButton">Logout</a>
        </div>
        {{/if}}
      </div>
    </div>

    <!-- =============== MENU ====================== -->



    <div class="container">

      <!-- =============== MESSAGES ==================== -->

      <div class="ui masthead segment">
      {{> errors}}
      {{> notifications}}

      </div>

      <!-- =============== MESSAGES ==================== -->

      <!-- =============== CONTENT ====================== -->

      {{#if currentUser}}
      {{> yield}}
      {{else}}


      <div class="ui masthead segment">
        <div class="ui two column middle aligned relaxed fitted stackable login centered grid">
          <div class="column">
            {{> LoginForm }}
          </div>
          <div class="ui vertical divider">
            Or
          </div>
          <div class="column">
            {{> RegistrationForm }}
          </div>
        </div>
      </div>

      {{/if}}

      <!-- =============== CONTENT ====================== -->




    </div> <!-- END container -->

  </div> <!-- END full heigth -->

</template>
