<template name="ForgetModalForm">
  <i class="close icon"></i>
  <div class="header">
    Forget Password
  </div>
  <div class="content">

    <form class="loginForm ui form" action="">
      <div class="field">
        <input type="email" name="emailLogin" placeholder="Username or Email" required="required">
      </div>
      <div class="field">
        <button class="ui red button forgetButton"><i class="key icon"></i> Reset My Password</button>
      </div>
    </form>
  </div>
</template>
