<template name="LoginModalForm">

<div class="ui small login modal">
  <i class="close icon"></i>
  <div class="header">
    Login
  </div>
  <div class="content">

    <form class="loginForm ui form" action="">
      <div class="field">
        <input type="email" name="emailLogin" placeholder="Username or Email" required="required">

      </div>
      <div class="field">
        <input type="password" name="passwordLogin" placeholder="Password" required="required">
      </div>
      <div class="field">
        <p>Oh no, totally <a href="#" class="forgetLink">forgot my password.</a></p>
      </div>
      <div class="field">
        <button class="ui primary button"><i class="key icon"></i> Login</button>
        <button class="ui primary button loginButton"><i class="key icon"></i> Login</button>
        <a class="ui button registerButton"><i class="user icon"></i> Register</a>
      </div>
    </form>
  </div>
</template>
