<template name="LoginModalForm">

<div class="ui small login modal">
  <i class="close icon"></i>
  <div class="header">
    Login
  </div>
  <div class="content">

    <form class="loginForm ui form" action="">
      <div class="field">
        <input type="email" name="emailLogin" placeholder="Username or Email">

      </div>
      <div class="field">
        <input type="password" name="passwordLogin" placeholder="Password">
      </div>
      <div class="field">
        <p>Oh no, totally <a href="#">forgot my password.</a></p>
      </div>
      <div class="field">
        <button class="ui primary button"><i class="key icon"></i> Login</button>
      </div>
    </form>
    <button class="ui button registerButton"><i class="user icon"></i> Register</button>
  </div>
</div>
</template>
