<template name="RegisterModalForm">
  <i class="close icon"></i>
  <div class="header">
    Register
  </div>
  <div class="content">

    <form class="loginForm ui form" action="">
      <div class="field">
        <input type="email" name="emailLogin" placeholder="Email as your username" required="required">

      </div>
      <div class="field">
        <input type="password" name="passwordLogin" placeholder="Password" required="required">
      </div>
      <div class="field">
        <input type="password" name="confirmPasswordLogin" placeholder="Password" required="required">
      </div>
      <div class="field">
        <button class="ui orange button registerButton"><i class="save icon"></i> Save</button>
      </div>
    </form>
  </div>
</template>
