<template name="EmailNotifications">
  {{# unless emailIsValidated}}
    <div class="ui raised segment">
      <div class="notifications">

        <div class="ui icon yellow message">
          <i class="inbox icon"></i>
          <div class="content">
            <p>Your email are not validated yet. We can't send you email remainder. Please check your email to validate your email account. <a href="#" class="resendValidation">Click here</a> to resend the validation email.</p>
          </div>
        </div>

      </div>

    </div>
  {{/unless}}
</template>
